/*Importing Font*/
@import '../fonts/font-vazir/Vazirmatn-UI-font-face.css';

/*Variables*/
:root {
    --blue: #185ADB;
    --little-darker-blue: #0D46A0;
    --mid-blue: #0C3463;
    --high-dark-blue: #0A1931;
    --darkest-blue: #07101E;
    --diamond: #2BC48A;
    --orange: #FCA120;
    --orange-darker: #e08f1c;
    --orange-darkest: #c17b18;
    --darker-diamond: #23a171;
}

/*Universal Styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

/*Setting Some Styles For Elements*/
img {pointer-events: none;}
a {text-decoration: none;}
p {margin: 0!important;}

::selection {
    background-color: var(--high-dark-blue);
    color: white;
}

body {
    font-weight: normal;
    font-family: "Vazirmatn UI", sans-serif;
    color: #14151A;
    background-color: #ECECEC;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

button {
    transition: .3s;
    cursor: pointer;
    border: none;
    padding: .5rem;
}

/*Styles*/
.dv-bg-high-dark-blue {background-color: var(--high-dark-blue);}
.dv-hover-td-underline:hover {text-decoration: underline;}
.dv-hover-text-diamond:hover {color: var(--diamond) !important;}
.dv-hover-text-blue:hover {color: var(--blue) !important;}
.dv-hover-text-blue:hover path {stroke: var(--blue) ;}
.dv-transition-3 {transition: .3s;}
.dv-mb-minus-zero-one {margin-bottom: -.01rem;}
.dv-fs-16px {font-size: 16px;}
.dv-btn-bg-orange:hover {background-color: var(--orange-darker);}
.dv-btn-bg-orange:active {background-color: var(--orange-darkest);}
.dv-btn-bg-none:hover {background-color: var(--blue);color: white !important;}
.dv-btn-bg-none:active {background-color: var(--little-darker-blue);}
header .dv-btn-bg-orange,
header .dv-btn-bg-blue,
header .dv-btn-bg-none{width: 131px;}
.dv-header-list-item {width: 15%;}
.dv-header-list-item-item {background-color: var(--blue);}
.dv-header-list-item-item:hover {background-color: var(--little-darker-blue);}
.dv-header-list-item-item:active {background-color: var(--high-dark-blue);}
.dv-ml-1 {margin-left: 1rem;}
.dv-mr-1 {margin-right: 1rem;}
.dv-mr-1-importnt {margin-right: 1rem !important;}
.dv-object-cover {object-fit: cover;}
.dv-home-sections-title {font-size: 38px;}
.dv-home-sections-subtitle {font-size: 22px;}
.dv-btn-border-diamond:hover {background-color: var(--diamond);color: white;}
.dv-bottom-side-title ~ div > h3{font-size: 14px !important;}
.dv-text-blue {color: var(--blue);}
.dv-w-95 {width: 95%;}
.dv-tab-btn.active {background-color: white;}
.dv-table-top-side-tabs > .dv-tab-btn:first-of-type {border-top-right-radius: .5rem;}
.dv-table-top-side-tabs > .dv-tab-btn:last-of-type {border-top-left-radius: .5rem;}
.dv-tab-btn:hover {background-color: #cdcdcd;}
.dv-tab-btn:active {background-color: #b3b3b3;color: white;}
.dv-tab-btn.active:hover {background-color: #e2e2e2;}
.dv-tab-btn.active:active {background-color: #adadad;}
.dv-top-rounded-1 {border-top-right-radius: 1rem;border-top-left-radius: 1rem;}
.dv-bottom-rounded-1 {border-bottom-right-radius: 1rem;border-bottom-left-radius: 1rem;}
.dv-text-A3A5A8 {color: #A3A5A8;}
.dv-prl-1 {padding: .5rem 1rem;}
.dv-prl-2 {padding: .5rem 2rem;}
.dv-text-red {color: #F6465D;}
.dv-text-diamond {color: var(--diamond);}
.dv-btn-bg-blue:hover {background-color: var(--little-darker-blue);}
.dv-btn-bg-blue:active {background-color: var(--mid-blue);}
.dv-table-hover tr:not(:first-of-type):hover {background-color: #ececec;}
.dv-rounded-1 {border-radius: 1rem;}
.dv-vol-input::-webkit-slider-thumb {background-color: white;}
.dv-w-10 {width: 10%;}
video:fullscreen {border: none;}
.dv-bg-blured-btn:hover {background-color: rgba(24, 90, 219, .2);}
.dv-bg-blured-btn:active {background-color: rgba(24, 90, 219, .5);}
.dv-bg-blured-btn.active {background-color: rgba(24, 90, 219, .2);}
.dv-bg-blured-btn.active:hover {background-color: rgba(24, 90, 219, .5);}
.dv-bg-blured-btn.active:active {background-color: rgba(24, 90, 219, .7);}
.dv-list-toggler-active:focus {background-color: rgba(24, 90, 219, .5);}
.dv-video-pause-btn:hover {background-color: var(--little-darker-blue);}
.dv-video-pause-btn:active {background-color: var(--mid-blue);}
.dv-social-btn path {transition: .3s;}
.dv-social-btn:nth-of-type(4) > a:hover > svg path{fill: #3A465A;}
.dv-social-btn:not(:nth-of-type(4)) > a:hover > svg path{fill: black;}
.dv-text-right {text-align: right;}
.dv-blogs-paragraph, .dv-blogs-title,
.dv-blog-date, .dv-blog-author-name {color: #68696C;}
.dv-blogs-title {font-size: 18px;}
.dv-blogs-paragraph {font-size: 12px;}
.dv-blogs-link {color: var(--blue);}
.dv-blog-date, .dv-blogs-link, .dv-blog-author-name {font-size: 11px;}
.dv-footer-items-title {font-size: 20px;}
.dv-bg-mid-blue {background-color: var(--mid-blue);}
.dv-footer-paragraph {font-size: 15px !important;}
.dv-text-orange {color: var(--orange);}
.dv-show-on-mobile {display: none;}
.dv-mobile-nav[data-opened="false"] {left: 100% !important;}
.dv-mobile-nav[data-opened="true"] {left: 25% !important;}
.dv-dark-bg[data-opened="false"] {left: 100% !important;}
.dv-bg-none-not-important {background-color: unset;}
.dv-dark-bg[data-opened="true"] {left: 0 !important;}
.dv-bg-none {background-color: unset;}
.dv-scroll-hidden::-webkit-scrollbar {display: none;}
.dv-active-bg-blue:active {background-color: var(--blue);}
.dv-active-bg-darker-blue:active {background-color: var(--little-darker-blue);}
.dv-active-bg-blue.active {background-color: var(--blue);}
.dv-bg-blue {background-color: var(--blue);}
.dv-btn-border-orange:hover ,.dv-btn-border-orange:active {color: white;}
.dv-btn-border-orange:hover {background-color: var(--orange);}
.dv-btn-border-orange:active {background-color: var(--orange-darker);}
.dv-calculator-page-title {font-size: 22px;}
.dv-calculator-page-subtitle, .dv-calculator-page-paragraph {font-size: 18px;}
.dv-calculator-page-paragraph {color: #868D94;}
.dv-input {border-radius: .5rem;}
.dv-btn-border-blue:hover {background-color: var(--blue);color: white;}
.dv-btn-border-blue:active {background-color: var(--little-darker-blue);color: white;border-color: var(--little-darker-blue)}
.dv-interactive-btns:focus path{fill: var(--blue);}
.dv-w-20 {width: 20%;}
.dv-h-0 {height: 0;}
.dv-interactive-btns:focus ~ ul {height: 15vh;}
.dv-interactive-btns:focus {border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
.dv-mt-7 {margin-top: 7rem !important;}
.dv-header-holder {padding: 2rem 4rem;}
.dv-fs-22-px {font-size: 22px;}
.dv-fs-18-px {font-size: 18px;}
.dv-video-settings-btn:focus > i{transform: rotate(180deg);}
.dv-sect-1-contact-us-card path {transition: .3s;}
.dv-sect-1-contact-us-card:nth-of-type(2) {margin-top: 1.5rem;}
.dv-sect-1-contact-us-card:hover path{fill: white;}
.dv-text-defualt-color {color: #14151A !important;}
.dv-sect-1-contact-us-card:hover {background-color: var(--blue) !important;}
.dv-sect-1-contact-us-card:hover h6,
.dv-sect-1-contact-us-card:hover p,
.dv-sect-1-contact-us-card:hover a{color: white !important;}
.dv-contact-us-form {margin-top: -10rem;}
.dv-mr-5 {margin-right: 5rem;}
.dv-form-label {color: #68696C;}
.dv-input, .dv-interactive-btns {height: 41px;transition: .3s;}
.dv-input::placeholder {color: #B0B1B2;}
.dv-interactive-btns:focus{border-color: var(--blue);}
.dv-circle-no-bg-btn:hover {background-color: #ececec;}
.dv-circle-no-bg-btn:active {background-color: #c7c7c7;}
textarea {resize: none;}
.dv-fs-20-px {font-size: 20px;}
.dv-login-subtitle > a {color: var(--blue) !important;}
.dv-login-blured-main {background: rgba( 255, 255, 255, .1 );}
.dv-h-39px {height: 39px;}
.dv-fs-10-px {font-size: 10px;}
.dv-text-gray-login {color: #D9D9D9 !important;}
.dv-accent-color-blue {accent-color: var(--blue);}
#dv-save-data-chckbox ~ label {color: #D9D9D9;}
.dv-text-left {text-align: left;}
.dv-bg-blured-input::placeholder {color: #D9D9D9;}
.dv-bg-blured-input:focus {background: rgba( 255, 255, 255, .2 );}
.dv-divider-border {border-bottom: 1px solid #707070;}
.dv-divider-text {font-size: 14px;color: #707070 !important;}
.dv-blured-bg-btn:hover {background: rgba( 255, 255, 255, .2 );}
.dv-blured-bg-btn:active {background: rgba( 255, 255, 255, .25 );}
.dv-bg-none {background-color: unset !important;}
.dv-switch > input:checked {background: linear-gradient(to right, #244c97, #20789c);}
.dv-switch > input:checked ~ label:before {content: '';}
.dv-switch > input ~ label:after {content: 'روز';margin-right: -1.5rem;color: white;}
.dv-switch > input:checked ~ label:after {content: '';}
.dv-switch > input:checked ~ label:before {content: 'شب';margin-right: 2rem;color: white;}
.dv-dashboard-top-side-items-more-details {color: #878E97;}
.dv-switch > input:checked ~ .dv-checkbox-lable {left: 4rem;}
.dv-top-side-item-1-dashboard {background-color: #F5F5F5;}
.dv-middle-main-dashboard > div:first-of-type > div:first-of-type > div:first-of-type{height: 333px;width: 30%;}
.dv-middle-main-dashboard > div:first-of-type > div:first-of-type > div:last-of-type{width: 70%;height: 333px;}
.dv-middle-main-dashboard > div:first-of-type{width: 80%;}
.dv-dashboard-tab-btn:hover {background-color: #ececec;}
.dv-dashboard-tab-btn:active {background-color: #c7c7c7;}
.dv-dashboard-left-side-item  {height: 63px;}
.dv-dashboard-aside {background-color: #1D2530;}
.dv-dashboard-aside-items > a > button{background-color: #232C3D;height: 77px;}
.dv-dashboard-aside-items.active > a > button:hover {background-color: #d0d0d0;}
.dv-dashboard-aside-items.active > a > button:active {background-color: #a0a0a0;}
.dv-dashboard-aside-items.active > a > button path{fill: var(--blue);}
.dv-dashboard-aside-items > a > button:hover {background-color: #37455f;}
.dv-dashboard-aside-items > a > button:active {background-color: #4c5f82;}
.dv-dashboard-body {background-color: #F4F8FB;}
.dv-mr-9 {margin-right: 9rem;}
.dv-fs-12-px {font-size: 12px;}
.dv-text-878E97 {color: #878E97;}
.dv-fs-14-px {font-size: 14px;}
.dv-dashboard-header-btn:hover {background-color: #ececec;}
.dv-dashboard-header-btn:active {background-color: #c1c1c1;}
.dv-dashboard-header-btn:focus {border-color: var(--blue);background-color: #ececec;}
.dv-lis-top-side-dashboard {border-bottom-color: white !important;}
.dv-lis-top-side {border-bottom-color: var(--blue) !important;}
.dv-dashboard-bottom-side-box {height: 53%;}
.dv-dashboard-top-side-item {border-radius: 5px;height: 116px;}
.dv-dashboard-top-side-items-middle {margin-top: -1.8rem;}
.dv-dashboard-top-side-items-middle img {height: 50px;}
.dv-interactive-btns {border-radius: .5rem;}
.dv-dashboard-header-btn-list {top: 5.5rem;}
.dv-bg-dashboard-aside {background-color: #1D2530;}
.dv-line-chart-holder {height: 250px;}
.dv-qa-list button svg {transition: .3s;}
.dv-qa-list button[aria-expanded="true"] svg{transform: rotate(180deg);}
.dv-bg-white-shadow-btn:hover {background-color: #ececec !important;}
.dv-bg-white-shadow-btn:active {background-color: #c7c7c7 !important;}
.swal-button.swal-button--confirm {background-color: var(--blue);}
.swal-text {color: inherit !important;}
.dv-lis-top-side-dashboard ~ ul > li:last-of-type > h5{font-size: 14px !important;}
.dv-home-section-3-card p {color: #68696C;}
.dv-pr-2 {padding-right: 2rem;}
.dv-gap-5 {gap: 5rem;}
.dv-home-first-section {
    background-image: url("../img/home/section-1/img-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.dv-btn-bg-orange {
    background-color: var(--orange);
    border-radius: 2rem;
    color: white;
}

.dv-divider {
    width: 1px;
    background-color: white;
    height: 3rem;
    margin: .5rem .5rem;
}

.dv-btn-bg-none {
    background-color: unset;
    border-radius: 2rem;
    color: white;
}

.dv-header-list-item-toggler:hover ~ .dv-header-list-item,
.dv-header-list-item:hover, .dv-dashboard-header-btn-list:active,
.dv-list-toggler-active:focus ~ .dv-list-toggler-active-list,
.dv-dashboard-header-btn:focus ~ .dv-dashboard-header-btn-list {
    opacity: 1 !important;
    pointer-events: visible !important;
    z-index: 100 !important;
}

.dv-btn-border-diamond {
    border: 1px solid var(--diamond);
    color: var(--diamond);
    border-radius: 2rem;
    background-color: unset;
}

.dv-btn-border-diamond:active {
    border-color: var(--darker-diamond);
    background-color: var(--darker-diamond);
    color: white;
}

.dv-home-section-1-card {
    border-radius: 1rem;
    height: 145px;
    color: #14151A !important;
}

.dv-home-section-1-card-title > sub {
    font-size: 11px;
    color: #CDCCCF;
    font-weight: normal;
}

.dv-bottom-side-title {
    font-size: 9px;
    color: #CDCCCF;
    text-align: left;
}

.dv-home-section-1-card-title {
    font-size: 14px !important;
    font-weight: bold;
}

.dv-tab-btn {
    width: 94px;
    height: 57px;
    background-color: #F3F3F3;
    color: #A3A5A8;
    font-size: 16px;
}

.dv-btn-bg-blue {
    background-color: var(--blue);
    color: white;
    border-radius: 2rem;
}

.dv-home-sections-paragraph {
    color: #68696C;
    font-size: 18px;
}

.dv-video-player {
    border: 10px solid black;
    border-radius: 1rem;
}

.dv-video-controls {
    width: 40%;
    border: 10px solid transparent;
    margin-top: -12rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.dv-bg-blured {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.dv-video-vol-btns {
    width: 30px;
    border-radius: 2rem;
}

.dv-vol-input {
    accent-color: var(--blue);
    transform: rotate(90deg);
    width: 5rem;
    margin-top: 2rem;
}

.dv-circle-no-bg-btn {
    width: 4rem !important;
    height: 4rem !important;
    background-color: unset;
}

.dv-bg-blured-btn {
    width: 4rem;
    height: 4rem;
}

.dv-video-pause-btn {
    border-radius: 2rem !important;
    width: 6rem;
    height: 6rem;
    background-color: var(--blue);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(24, 90, 219, .5);
    z-index: 99;
}

.dv-blog-item {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    min-height: 183px;
}

.dv-mobile-nav {
    z-index: 1110;
    position: fixed;
    top: 0;
    display: none;
}

.dv-dark-bg {
    background-color: rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 1100;
    left: 100%;
    display: none;
}

.dv-w-h-3 {
    width: 3rem;
    height: 3rem;
}

.dv-btn-border-orange {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--orange);
    background-color: unset;
    color: var(--orange);
}

.dv-blog-section-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.dv-calculator-page-laptop {
    background-image: url("../img/calculator/img-laptop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 249px;
}

.dv-calculator-page-laptop > h1{
    font-size: 30px;
    margin-top: -5rem;
}

.dv-input {
    background-color: white;
    border: 1px solid #DFDFDF;
    color: #1A1A1A;
}

.dv-interactive-btns{
    border: 1px solid #DFDFDF;
    color: #B7B7B7;
}

.dv-input:focus {
    border-color: var(--blue);
    background-color: #E0E1E4;
}

.dv-input::selection {
    background-color: var(--blue);
    color: white;
}

.dv-btn-border-blue {
    background-color: unset;
    border: 1px solid var(--blue);
}

.dv-lis-top-side-dashboard, .dv-lis-top-side {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid;
    margin-right: 2rem;
}

.dv-sect-1-contact-us {
    background-image: url('../img/contact-us/img-section-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.dv-sect-1-contact-us-card {
    width: 309px;
    height: 165px;
}

.dv-prl-3 {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.dv-ptb-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dv-login-body {
    background-image: url('../img/log-in/img-body-bg.jpg');
    background-size: cover;
    background-position: center;
}

.dv-login-subtitle {
    font-size: 14px;
    color: #707070 !important;
}

.dv-login-blured-main, .dv-blured-bg-btn{
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.dv-blured-bg-btn {
    background: rgba( 255, 255, 255, .15 );
    height: 39px;
    font-size: 12px;
}

.dv-bg-blured-input {
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    background: rgba( 255, 255, 255, .15 );
}

.dv-dashboard-header-btn {
    background-color: unset;
    border: 1px solid transparent;
}

.dv-dashboard-aside-items.active > a > button {
    background-color: white ;
    color: var(--blue) !important;
}

.dv-switch > input{
    appearance: none;
    -webkit-appearance: none;
    width: 67px;
    height: 29px;
    cursor: pointer;
    background: linear-gradient(to right, #3865BB, #52B7E1);
}

.dv-checkbox-lable {
    width: 20px;
    height: 20px;
    background-image: url("../img/dashboard/img-morning.jpg");
    left: 1.5rem;
    top: 1.85rem;
    pointer-events: none;
}

.dv-dashboard-tab-btn {
    background-color: unset;
    width: 120px;
    height: 37px;
}

.dv-dashboard-tab-btn.active {
    border-top: 2px solid var(--blue);
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: none !important;
}

.dv-top-side-ticket {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

select.dv-input {
    appearance: none;
    -webkit-appearance: none;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

.ck-content {
    height: 250px;
    margin-bottom: 1rem;
}

.dv-ticket-page-main input,
.dv-ticket-page-main select{height: 62px;}
.dv-ticket-page-main select{appearance: auto;}
.dv-text-71777F {color: #71777F;}
.dv-home-third-section-cars-holder {display: grid;grid-template-columns: repeat(4, 1fr);}

/*Dark Styles*/
#dv-dashboard-main[data-theme='dark'] {background-color: var(--high-dark-blue);}
#dv-dashboard-main[data-theme='dark'] header {background-color: var(--darkest-blue) !important;color: white !important;}
#dv-dashboard-main[data-theme='dark'] header path{fill: white !important}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn{color: white;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn:hover,
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn:focus{background-color: var(--high-dark-blue);}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn-list > ul{background-color: var(--high-dark-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn-list > ul > li.border-bottom {border-bottom-color: rgba(256, 256, 256, .2) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn-list > ul > li:first-of-type h5{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn-list > ul h3{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-header-btn-list > ul > li button{color: white !important;}
#dv-dashboard-main[data-theme='dark'] main .bg-white {background-color: var(--darkest-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-top-side-item  h5 {color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-top-side-item  path {fill: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-top-side-item  path {fill: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-middle-side-boxed-dashboard:first-of-type > div:first-of-type {background-color: var(--high-dark-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-middle-side-boxed-dashboard:first-of-type > div , h3{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-middle-side-boxed-dashboard:first-of-type > div , h3{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-tab-btn{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-tab-btn:hover{background-color: var(--high-dark-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-tab-btn:active{background-color: var(--mid-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-tab-btn.border-bottom{border-bottom-color: rgba(256, 256, 256, .2) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-dashboard-tab-btn.active{border-left-color: rgba(256, 256, 256, .2) !important;border-right-color: rgba(256, 256, 256, .2) !important;}
#dv-dashboard-main[data-theme='dark'] table tr{color: white !important;}
#dv-dashboard-main[data-theme='dark'] table tr{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-lis-top-side-dashboard{border-bottom-color: var(--high-dark-blue) !important}
#dv-dashboard-main[data-theme='dark'] .dv-support-title {color: white;}
#dv-dashboard-main[data-theme='dark'] .dv-support-title ~ div > h1{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-support-title ~ div > p{color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-qa-list > li {border-top-color: rgba(256,256,256,.2) !important}
#dv-dashboard-main[data-theme='dark'] .dv-qa-list > li > button {color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-qa-list > li > button:hover {color: var(--blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-qa-list > li > button:hover path{stroke: var(--blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-qa-list > li p {color: white !important;}
#dv-dashboard-main[data-theme='dark'] .dv-bg-white-shadow-btn:hover {background-color: var(--high-dark-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-bg-white-shadow-btn:active {background-color: var(--darkest-blue) !important;}
#dv-dashboard-main[data-theme='dark'] .dv-qa-list button path {stroke: white;}
#dv-dashboard-main[data-theme='dark'] .dv-ticket-page-main label{color: white;}
#dv-dashboard-main[data-theme='dark'] .dv-input:hover {background-color: var(--mid-blue);}
#dv-dashboard-main[data-theme='dark'] .dv-input:focus {background-color: var(--mid-blue);border-color: var(--blue)}
#dv-dashboard-main[data-theme='dark'] .ck-content {background-color: var(--darkest-blue);border-color: rgba(256, 256, 256, .2);color: white;}
#dv-dashboard-main[data-theme='dark'] .ck-toolbar {background-color: var(--high-dark-blue) !important;border-color: rgba(256, 256, 256, .2);color: white !important;}
#dv-dashboard-main[data-theme='dark'] .ck-content:focus {border-color: var(--blue)}
#dv-dashboard-main[data-theme='dark'] .ck-toolbar button:hover{background-color: var(--mid-blue);}
#dv-dashboard-main[data-theme='dark'] .ck-toolbar button span{color: white;}
#dv-dashboard-main[data-theme='dark'] .ck-toolbar svg{color: white;}
#dv-dashboard-main[data-theme='dark'] .ck-on{background-color: var(--mid-blue);}
#dv-dashboard-main[data-theme='dark'] .ck-toolbar path{fill: white;}
#dv-dashboard-main[data-theme='dark'] .ck-list__item{background-color: var(--darkest-blue);}
#dv-dashboard-main[data-theme='dark'] .dv-ticket-page-main > h1:first-of-type{color: white;}
#dv-dashboard-main[data-theme='dark'] .dv-ticket-page-main > form > h1:first-of-type{color: white;}
#dv-dashboard-main[data-theme='dark'] ::selection {background-color: var(--blue);}
#dv-dashboard-main[data-theme='dark'] ~ .swal-overlay > .swal-modal {background-color: var(--darkest-blue);}
#dv-dashboard-main[data-theme='dark'] ~ .swal-overlay .swal-title {color: white !important;}
#dv-dashboard-main[data-theme='dark'] ~ .swal-overlay .swal-text {color: white !important;}
#dv-dashboard-main[data-theme='dark'] ~ .swal-overlay .swal-button.swal-button--confirm {background-color: var(--mid-blue);}
#dv-dashboard-main[data-theme='dark'] .ck-dropdown__panel {background-color: var(--darkest-blue);border-color: rgba(256,256,256,.2)}
#dv-dashboard-main[data-theme='dark'] .ck-input {background-color: var(--high-dark-blue);color: white;}
#dv-dashboard-main[data-theme='dark'] .ck-label {background-color: var(--high-dark-blue);}
#dv-dashboard-main[data-theme='dark'] .ck-labeled-field-view__status {color: #ececec;}
#dv-dashboard-main[data-theme='dark'] .dv-top-side-title-dashboard-table > h1{color: #ececec !important;}
#dv-dashboard-main[data-theme='dark'] .dv-top-side-title-dashboard-table {border-bottom-color: rgba(256,256,256,.2) !important}
#dv-dashboard-main[data-theme='dark'] .dv-input{
    background-color: var(--darkest-blue);
    border-color: rgba(256, 256, 256, .2);
    color: white;
}

/*Media Querys*/
@media (max-height: 650px) {  .dv-contact-us-form {margin: 0 !important;}  }
@media (max-width: 1199px) {
    .dv-dark-bg {display: block;}
    .dv-dashboard-header-btn-list {right: 5rem;}
    .dv-home-header > ul:first-of-type {display: none !important;}
    .dv-home-header {padding: .5rem !important;}
    .dv-home-header > div {width: 100% !important;}
    .dv-home-header > div > a:not(:last-of-type), .dv-home-header > div > div {display: none !important;}
    .dv-show-on-mobile,.dv-mobile-nav {display: block;}
    #dv-dashboard-main {margin: 0;}
    aside {display: none;}
    .dv-middle-main-dashboard > div ,
    .dv-middle-main-dashboard > ul{width: 100% !important;}
    .dv-middle-main-dashboard > div > div > div{width: 100% !important;}

    .dv-dashboard-left-side-item{
        height: auto;
        padding: 1rem !important;
    }

    .dv-middle-main-dashboard {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    #dv-dashboard-main > main {padding: 1rem !important}
    .dv-left-side-contact-us-form {margin: 0;}
    .dv-home-third-section-cars-holder {grid-template-columns: repeat(2, 1fr);gap: 1rem !important;padding: 0 !important;}
    .dv-header-holder {padding: 1rem;}
    .dv-middle-side-boxed-dashboard {height: auto !important;}
    .dv-home-first-section-items {gap: 1rem !important;}
    .dv-list-toggler-active-list {width: 50% !important;}
    .dv-home-section-3,.dv-home-section-2, .dv-home-section-1 ,.dv-home-section-4, .dv-section {padding: 1rem !important;}
    .dv-home-first-section > main {width: 100% !important;}
    .dv-home-first-section > main > div:first-of-type > div > a {width: 100% !important;}
    .dv-home-first-section > main > div:last-of-type > div{width: 100% !important;}
    video ,.dv-video-controls{width: 100% !important;}
    .dv-topside-video { display: none !important;}
    .dv-blog-section-home {grid-template-columns: repeat(2, 1fr);}
    .dv-blog-section-home > div:last-of-type {grid-column: span 2}
    .dv-calculator-main-content {padding: 1rem !important;}
    .dv-calculator-main-content > div{width: 100% !important;}
    .dv-404-page-bottom-btn {width: 75% !important;}
    .dv-about-us-sec1-main {width: 100% !important;}
    .dv-about-us-section-main > div, img {margin: 0 !important;}
    .dv-about-us-section-main {gap: 2.5rem;}
    .dv-about-us-section-main > div,
    .dv-about-us-section-main > img {width: 100% !important;}
    .dv-sect-1-contact-us-cards {gap: 1rem;}
    .dv-sect-1-contact-us-cards > .dv-sect-1-contact-us-card:nth-of-type(2) {margin: 0}
    .dv-contact-us-form {margin: 0;}
    .dv-sect-1-contact-us-cards > div {width: 100% !important;}
    .dv-sect-1-contact-us > main{width: 100% !important;}
    textarea.dv-input {height: 15rem !important;}
    .dv-contact-us-form {padding: 1rem !important;}
    .dv-contact-us-form > div:first-of-type > div {width: 100% !important;}
    .dv-login-body {padding: 0!important;}
    #dv-dashboard-main > footer {text-align: center !important;}
    .dv-dashboard-top-side-item {height: auto;}
    li > .collapse {padding: 1rem;}
    .dv-login-blured-main {
        width: 100% !important;
        min-height: 100vh;
        border-radius: 0 !important;
        justify-content: center;
        padding: 1rem !important;
    }

    .dv-contact-us-form > div:first-of-type {
        display: flex !important;
        flex-direction: column !important;
    }

    .dv-sect-1-contact-us-cards {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .dv-about-us-section-main {
        display: flex;
        flex-direction: column;
    }

    .dv-footer-bottom-copyright {
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-items: start !important;
        gap: 1.5rem;
    }

    .dv-home-first-section {
        padding: 1rem !important;
        margin: 0 !important;
    }
}

@media (max-width: 767px) {
    .dv-footer ,.dv-footer ~ div{padding: 1rem !important;}
    .dv-footer main {grid-template-columns: repeat(1, 1fr);}
    .dv-dashboard-tab-btn {height: auto !important;}
    .dv-line-chart-holder{height: auto !important;}
    .dv-home-section-3-card-holder {
        padding: .5rem;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap:  1rem !important;
    }
}

@media (max-width: 575px) {
    .dv-home-first-section > main > div:first-of-type > div {width: 80% !important;}
    .dv-home-first-section {background-image: none;}
    .dv-section-1-home-title {margin-top: 20vh;}
    .dv-home-first-section ~ section:nth-of-type(2) {display: none;}
    .dv-social-btns > ul{width: 100% !important;}
    .dv-blog-section-home {grid-template-columns: repeat(1, 1fr);}
    .dv-blog-section-home > div:last-of-type {grid-column: span 1}
    #dv-dashboard-main > header > div:last-of-type {display: none !important;}
    .dv-dashboard-header-list-item-show-on-mobile {display: block !important;}
    .dv-dashboard-header-btn-list > .dv-lis-top-side-dashboard {margin-right: 10rem;}
    .dv-home-third-section-cars-holder {grid-template-columns: repeat(1, 1fr);}
    .dv-lis-top-side-dashboard {display:none;}
    .dv-top-side-ticket {grid-template-columns: repeat(1, 1fr);}

    .dv-bottom-side-of-ticket-page > button{
        width: 100%;
        text-align: right;
    }

    .dv-bottom-side-of-ticket-page {
        display: flex !important;
        flex-direction: column;
        align-items: start !important;
        justify-content: center !important;
        gap: 1rem !important;
    }

    .dv-dashboard-header-btn-list {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .dv-middle-main-dashboard > div > div {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-width: 460px) {
    .dv-video {display: none !important;}
    .dv-calculator-page-laptop > h1 {margin: 0;}
    .dv-calculator-main-content > div form > div:first-of-type > div  {width: 100% !important;}
    .dv-home-section-3-card-holder {grid-template-columns: repeat(1, 1fr) !important;}
    .dv-contact-us-form-icon-btns {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .dv-calculator-page-laptop {
        background-image: none;
        min-height: auto;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dv-calculator-main-content > div form > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    footer > div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-items: start !important;
        gap: 1rem;
    }
}

@media (max-width: 299px) {
    .dv-home-first-section > main > div:first-of-type > div > a {margin: 0 !important;}
    .dv-contact-us-form-icon-btns {grid-template-columns: repeat(2, 1fr);}
    .dv-dashboard-left-side-item {
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
        justify-content: start !important;
        gap: 1rem;
    }

    .dv-home-first-section > main > div:first-of-type > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}