/*Importing Part*/
@import "../fonts/font-vazir/Vazirmatn-UI-font-face.css";
@import "../fonts/font-yekan-bakh/Yekan Bakh Regular.css";
@import "buttons.css";


/*Variables*/
:root {
    --indigo: #185ADB;
    --daker-indigo: #0D46A0;
    --mid-darker-indigo: #0C3463;
    --high-dark-indigo: #0A1931;
    --darkest-indigo: #07101E;
    --diamond: #2BC48A;
    --diamond-darker: #24a172;
    --diamond-darkest: #1d805b;
    --orange:  #FCA120;
    --darker-orange: #d48719;
    --darkest-orange: #af6f14;
    --gray: #707070;
    --blue: #185ADB;
    --blue-darker: #154fc1;
    --blue-darkest: #113f99;
    --seprator: #9B9B9B;
    --form-btn: #5D6469;
    --form-btn-darker: #4b5155;
    --form-btn-darkest: #393d40;
}

/*Default Styles*/
img {pointer-events: none;}
a {text-decoration: none;}
button {cursor: pointer;}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #ECECEC;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Vazirmatn UI', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

/*Styles*/
/*Home Styles*/
/*Header Section*/
.dv-header-right-side {width: 60%;}
.dv-header-left-side-btn-holder {width: 40%;}
.dv-header-left-side-btn-holder:first-of-type {margin-left: 1rem;}
.dv-header-links > .dv-header-links-item:first-child,.dv-on-mobile-logo {margin-top: 1rem;}
.dv-mobile-nav-top > a {margin-left: 5rem;}
.dv-mobile-nav-link-item {width: 100%;}
#dv-mobile-nav::-webkit-scrollbar {display: none;}
.dv-sect-1-top-btns-holder > a {width: 25%;}
.dv-sect-1-top-btns-holder > :last-child {margin-right: 1rem;}
.dv-sect-1-bottom-cards-holder > a {color: black;}
.dv-sect-1-bottom-card-top-img {margin-right: 1rem;}
sub, .dv-portfolio-txt {color: var(--gray);,}
.dv-portfolio-txt-money,.dv-sect-1-bottom-card > :first-child > h3 {font-weight: bold;}
.dv-sect-1-bottom-card:hover {background-color: #d9d9d9;}
.dv-sect-1-bottom-card-bottom-side {text-align: left;}
.dv-sect-2-td-d-inline-flex > span:last-of-type {color: #A3A5A8;}
.dv-sect-2-td-d-inline-flex > img {margin-left: 1rem;}
th {color: #A3A5A8 !important;}
.dv-sect-2-tr-striped {background-color: #F5F5F5;}
.dv-sect-2-td-number-red {color: #F6465D;font-weight: bold;}
.dv-sect-2-td-number-green {color: var(--diamond);font-weight: bold;}
.dv-sect-2-td-d-inline-flex.w-100 {width: 100%;}
.dv-sect-2-td-d-inline-flex.w-100 > a {width: 50%;}
.dv-sect-2-td-d-inline-flex.w-100 > a:first-of-type {margin-left: 1rem;}
.dv-sect-2-bottom-see-all > a{color: var(--blue) !important;}
.dv-sect-3-card > img{margin-bottom: 2rem;}
.dv-sect-4-blog-continue-reading {color: var(--blue);}
.dv-sect-4-blog-bottom-side-left-side > img {margin-right: 1rem;}
.dv-sect-4-blog-img {margin-left: 1rem;}
.dv-sect-4-blog-author {color: #68696C;}
.dv-sect-4-blog:hover {background-color: #e2e2e2;}
.dv-sect-4-blog:active {background-color: #bababa;}
.dv-footer-bottom-side > p > span {color: var(--diamond);}
.dv-footer-bottom-side > h3 > span {color: var(--orange);}
.dv-footer-top-side-left-side-btn-holder:first-of-type {margin-left: 1rem;}
.dv-header-links-item.no-margin{margin: 0 !important;}

.dv-header.rounded {
    border-radius: 1rem;
    position: static;
}

.dv-header-holder {
    width: 100%;
    padding: 2rem;
    position: fixed;
}

.bg-blue {
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    border: none;
    transition: .3s;
    background-color: var(--blue);
}


.dv-header {
    background-color: var(--high-dark-indigo);
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    position: fixed;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}

.dv-header-links {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.dv-header-links-item  > a{
    color: white;
    transition: .3s;
    font-size: 16px;
    white-space: nowrap;
}

.dv-header-links-item  > a:hover{
    color: var(--diamond);
    text-decoration: underline;
}

.dv-header-left-side {
    width: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    margin-right: 2rem;
    margin-left: 2rem;
}

.dv-header-left-side > :nth-child(2) {
    border-right: 2px solid white;
    padding-right: 1rem;
}

.dv-on-mobile-nav-toggle {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--orange);
    color: var(--orange);
    background-color: unset;
    border-radius: .5rem;
    transition: .3s;
}

.dv-on-mobile-nav-toggle:active {
    background-color: var(--orange);
    color: white;
}

.dv-on-mobile-logo {
    display: none;
    margin-left: 1rem;
}

/*Mobile Nav*/
#dv-mobile-nav-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    left: 100%;
    transition: .3s;
    display: none;
    z-index: 1;
}

#dv-mobile-nav {
    position: fixed;
    width: 70%;
    height: 100%;
    background-color: var(--high-dark-indigo);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    overflow: scroll;
    left: 100%;
    transition: .3s;
    display: none;
    z-index: 2;
}

.dv-mobile-nav-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.dv-mobile-nav-link-item > a > button {
    width: 100%;
    text-align: right;
    padding: 1.5rem;
    background-color: unset;
    color: white;
    border: none;
    font-size: 16px;
    transition: .3s;
}

.dv-mobile-nav-link-item > a > button:active {
    background-color: var(--darkest-indigo);
    color: white;
}

/*First Section*/
.dv-sect-1 {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-sect-1 > :only-child {
    background-image: url("../img/home/section-1/img-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-sect-1-content {
    margin-top: 10rem;
    width: 50%;
    height: 40rem;
    text-align: center;
    color: black;
}

.dv-sect-1-title {
    font-size: 38px;
    margin-bottom: 1rem;
}

.dv-sect-1-subtitle {
    font-size: 22px;
    margin-bottom: 2rem;
}

.dv-sect-1-top-btns-holder {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

.dv-sect-1-bottom-cards-holder {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.dv-sect-1-bottom-card {
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    padding: 1rem;
    background-color: white;
    transition: .3s;
}

.dv-sect-1-bottom-card > :first-child {
    width: 100%;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}

.dv-sect-1-bottom-card-bottom-side-bottom {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.dv-sect-1-bottom-card-bottom-side-bottom > :first-child {
    display: inline-flex;
    align-items: center;
    width: 50%;
    color: var(--indigo);
}

.dv-sect-1-bottom-card-bottom-side-bottom > :first-child > :last-child {
    margin-top: -.4rem;
    margin-right: .5rem;
}

/*Second Section*/
.dv-sect-2 {padding: 3rem;}
.dv-sect-2-top-btn-holder {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 2rem;
}

.dv-sect-2-table {
    background-color: white;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.dv-sect-2-bottom-see-all {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    text-align: right;
    padding: 1rem;
}

.dv-sect-2-td-d-inline-flex {
    display: inline-flex;
    align-items: center;
}

.dv-sect-2-td-d-inline-flex > span:first-of-type {
    font-weight: bold;
    color: black;
    margin-left: 1rem;
}

/*Third Section*/
.dv-sect-3 {
    text-align: center;
    padding: 3rem;
}

.dv-sect-3-title {
    font-size: 29px;
    margin-bottom: 2rem;
}

.dv-sect-3-cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.dv-sect-3-card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    transition: .3s;
}

.dv-sect-3-card:hover {
    background-color: var(--indigo);
    color: white;
}

/*Fourth Section*/
.dv-sect-4 {
    background-color: white;
    padding: 2rem;
}

.dv-sect-4-top-side {
    text-align: center;
    margin-bottom: 3rem;
}

.dv-sect-4-top-title {
    font-size: 29px;
    margin-bottom: 1rem;
}

.dv-sect-4-top-paragraph {
    color: #68696C;
    margin-bottom: 2rem;
    font-size: 18px;
}

.dv-sect-4-middle-side {
    text-align: center;
    margin-bottom: 4rem;
}

.dv-sect-4-tutorials-watched {
    font-size: 20px;
    color: #68696C;
}

.dv-sect-4-media-link-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-sect-4-tutorials-watched > span {color: var(--blue);}
.dv-sect-4-media-link {
    width: 70%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    padding: 1rem;
    border-bottom: 1.5px solid #D4D4D4;
    margin-bottom: 2rem;
}


.dv-sect-4-blogs-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 0 3rem 0;
}

.dv-sect-4-blog {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    border-radius: .5rem;
    transition: .3s;
}

.dv-sect-4-blog-details {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.dv-sect-4-blog-title {
    font-size: 18px;
    color: #68696C;
    margin-bottom: 1rem;
}

.dv-sect-4-blog-paragraph {
    font-size: 12px;
    color: #68696C;
    margin-bottom: .5rem;
}

.dv-sect-4-blog-bottom-side {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dv-sect-4-blog-bottom-side {
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}

.dv-sect-4-blog-bottom-side-right-side {
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.dv-sect-4-blog-bottom-side-right-side > h5 {
    color: #68696C;
    margin-right: 1rem;
}

.dv-sect-4-blog-bottom-side-left-side {
    display: inline-flex;
    align-items: center;
}

/*Footer*/
footer > :first-child{
    background-color: var(--darkest-indigo);
    padding: 3rem;
}

.dv-footer-top-side {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dv-footer-top-side-right-side {
    width: 75%;
}

.dv-footer-top-side-left-side {
    display: inline-flex;
    width: 25%;
}

.dv-footer-top-side-left-side-btn-holder {
    width: 50%;
    margin-bottom: 2rem;
}

.dv-footer-top-side-left-side-btn-holder > a > button {
    width: 100%;
    font-size: 18px;
    border-radius: 2rem;
    transition: .3s;
    padding: .5rem;
    white-space: nowrap;
}

.dv-footer-list-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dv-footer-list > li,
.dv-footer-list > li > a{
    list-style: none;
    color: white !important;
    font-weight: bold;
    margin-bottom: 1rem;
}

.dv-footer-bottom-side {
    background-color: var(--mid-darker-indigo);
    padding: 2rem;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/*Calculator Page*/
.dv-main-inner-holder {width: 50%;padding: 3rem;text-align:center;}
.dv-middle-side-laptop-holderdv-middle-side-laptop-holder {margin-bottom: 2rem;}
.dv-input::placeholder {color: #B0B1B2;}
.dv-input:hover {background-color: #E0E1E4;}
.dv-currency-btn > div > img {margin-left: 1rem;}
.dv-currency-btn:hover {background-color: #E0E1E4;}
.dv-currency-btn:focus {border-color: var(--indigo);}
.dv-bottom-side-btn:first-of-type {margin-left: 1rem;}
.dv-bottom-side-btns > button:last-of-type {margin-right: 1rem;}
.dv-w-100 {width: 100% !important;}
.dv-w-15 {width: 15%;}
.dv-rounded-2 {border-radius: 2rem !important;}

.dv-main-top {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10rem;
}

.dv-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.dv-main-top-title {
    margin-bottom: 1rem;
    font-size: 22px;
}

.dv-main-top-subtitle {
    margin-bottom: 1rem;
    font-size: 18px;
    color: var(--blue);
}

.dv-main-top-paragraph {
    font-size: 18px;
    color: #868D94;
}

.dv-middle-side-laptop {
    background-image: url("../img/calculator/img-laptop.png");
    min-height: 249px;
    min-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dv-middle-side-calculation {
    overflow-wrap: break-word;
    max-width: 20ch;
    margin-bottom: 5rem;
}

.dv-input{
    background-color: unset;
    border: 1px solid #DFDFDF;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    width: 100%;
    transition: .3s;
    color: #B0B1B2;
    font-size: 16px;
}

.dv-input:focus {
    border-color: var(--indigo);
    background-color: #E0E1E4;
    color: var(--indigo);
}

.dv-currency {
    display: inline-flex;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dv-currency-btn {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #DFDFDF;
    transition: .3s;
    font-size: 16px;
}

.dv-currency-btn > div {
    display: inline-flex;
    align-items: center;
}

.dv-change-btn {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 5rem;
    background-color: unset;
    border: none;
}

.dv-bottom-side-btns {
    width: 100%;
    display: inline-flex;
}

.dv-btn-border-blue {
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: white;
    transition: .3s;
    font-size: 16px;
    border-radius: .5rem;
}

.dv-btn-border-blue:hover {
    background-color: var(--blue);
    color: white;
}

.dv-btn-bg-blue {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: .5rem;
    transition: .3s;
    font-size: 16px;
}

/*404 Page*/
.dv-main-middle-img {
    width: 100%;
    margin-bottom: 1rem;
}

.dv-main-middle-paragraph {
    font-size: 20px;
    margin-bottom: 1rem;
}

/*About Us Page*/
.dv-body-about-us {background-color: white;}
.dv-about-us-sect-3-left-side {width: 50%;}
.dv-about-us-sect-3-right-side {margin-left: 1rem;}

.dv-title {
    font-size: 22px;
    margin-bottom: 3rem;
}

.dv-paragraph {
    color: #868D94;
    font-size: 18px;
    margin-bottom: 4rem;
}

.dv-about-us-sect-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3rem;
}

.dv-about-us-sect-1-inner {
    width: 50%;
    text-align:  center;
    margin-top: 10rem;
}

.dv-about-us-sect-1-cards-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dv-about-us-sect-2, .dv-about-us-sect-3 {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 3rem;
}

.dv-about-us-sect-2-right-side{
    margin-left: 1rem;
    width: 50%;
}

.dv-about-us-sect-2-left-side,.dv-about-us-sect-3-right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-about-us-sect-2-right-side-bottom-btn-holder,
.dv-about-us-sect-3-right-side-bottom-btn-holder{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/*Contact Us Page*/
.dv-text-white {color: white;}
.dv-contact-section-1-card-svg, .dv-contact-section-1-card > h1 {margin-bottom: .5rem;}
.dv-contact-section-1-card > p > a,
.dv-contact-section-1-card > a{color: black;transition: .3s;}
.dv-contact-section-1-card-svg > path,
.dv-contact-section-1-card-svg > g > path {transition: .3s}
.dv-contact-section-1-card:hover .dv-contact-section-1-card-svg > path,
.dv-contact-section-1-card:hover .dv-contact-section-1-card-svg > g > path{fill: white;}
.dv-contact-section-1-card:hover > a,
.dv-contact-section-1-card:hover > p > a{color: white;}

.dv-contact-us-section-1 {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background-image: url("../img/contact-us/img-section-1.jpg");
    background-size: cover;
}

.dv-contact-us-section-1-inner {
    width: 50%;
    text-align: center;
    padding: 3rem;
}

.dv-contact-us-section-1-cards-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.dv-contact-section-1-card {
    border-radius: .5rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.dv-contact-section-1-card:hover {
    background-color: var(--indigo);
    color: white !important;
}

.dv-contact-section-1-card:nth-of-type(2) {
    margin-top: 3rem;
    margin-bottom: -3rem;
}

.dv-contact-us-section-2 {
    width: 100%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-contact-us-form {
    background-color: white;
    width: 90%;
    padding: 2rem;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    border-radius: .5rem;
    margin-top: -10rem;
    text-align: center;
}

.dv-contact-us-form > div {
    display: inline-flex;
    width: 100%;
}

.dv-contact-us-form > div > div {width: 50%;}
.dv-contact-us-form > div > div:last-of-type {margin: 0;}
textarea {resize: none;}
.dv-mb-1 {margin-bottom: 1rem;}
.dv-contact-us-form-left-side-bottom-btn-holder {
    display: flex;
    justify-content: end;
    width: 100%;
}

.dv-label {
    font-size: 16px;
    color: #68696C;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dv-contact-us-form > div > div:first-of-type,
.dv-contact-us-form > div > div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    margin-left: 2rem;
}

.dv-contact-form-right-side-socials {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/*Log in Page*/
.dv-log-in-mid > :first-of-type > :only-child > img {margin-left: 1rem;}
.dv-log-in-mid > a > button:first-of-type {margin-bottom: 1rem;}
.dv-form-subtitle > a {color: var(--blue);}
.dv-form-input:hover {background-color: var(--form-btn-darker);}
.dv-form-input::placeholder {color: white;}
.dv-form-options-right > input[type='checkbox'] {margin-left: 1rem;}
.dv-form-options-left > a,
.dv-form-options-right{color: var(--seprator);}

.dv-body-log-in {
    background-image: url("../img/log-in/img-body-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-log-in-form {
    border-radius: 1rem;
    width: 30%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    padding: 2rem;
}

.dv-log-in-top-side {
    text-align: center;
    margin-bottom: 2rem;
}

.dv-form-title {
    color: white;
    font-size: 20px;
    margin-bottom: 1rem;
}

.dv-form-subtitle {
    color: #9C9C9B;
    font-size: 15px;
}

.dv-seprator {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.dv-seprator-item {
    width: 25%;
    border-bottom: 1px solid var(--seprator);
}

.dv-sepator-title {
    width: 50%;
    text-align: center;
    white-space: nowrap;
    color: var(--seprator);
    font-size: 14px;
}

.dv-form-input {
    background-color: var(--form-btn);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 16px;
    width: 100%;
    outline: none;
    transition: .3s;
    border: 1px solid transparent;
    margin-bottom: 1rem;
}

.dv-form-input:focus {
    border-color: var(--indigo);
    background-color: var(--form-btn-darker);
}

.dv-form-options {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dv-form-options-right {
    display: inline-flex;
    width: 50%;
    align-items: center;
}

/*Media Query*/
@media (max-width: 1021px) {
    .dv-header-left-side-btn-holder,.dv-header-right-side {display: none;}
    .dv-header-left-side {width: 100%;}
    .dv-on-mobile-nav-toggle {display: flex;}
    .dv-on-mobile-logo,#dv-mobile-nav-bg, #dv-mobile-nav {display: block;}
    .dv-sect-1-top-btns-holder > a {width: 50%;}
    .dv-sect-2-top-btn-holder > button {width: 25%;}
    .dv-sect-4-media-link {grid-template-columns: repeat(3, 1fr)}
    .dv-sect-4-blogs-holder {grid-template-columns: repeat(1,1fr);}
    .dv-sect-4, .dv-sect-3, .dv-sect-1  {padding: 1.5rem;}
    .dv-footer-list-holder {grid-template-columns: repeat(2, 1fr);}
    .dv-footer-top-side-left-side, .dv-footer-top-side-right-side {width: 50%;}
    .dv-about-us-sect-2-right-side, .dv-about-us-sect-2-left-side,
    .dv-about-us-sect-3-right-side, .dv-about-us-sect-3-left-side{width: 100%;}
    .dv-contact-us-section-1-inner {width: 100%;}
    .dv-contact-us-section-1-inner {padding: 0;}
    .dv-contact-us-section-1-inner > .dv-title {margin-top: 4rem;}
    .dv-contact-us-section-2,.dv-contact-us-section-1 {padding: 2rem;}
    .dv-log-in-form {width: 70%;}

    .dv-contact-us-form {
        width: 100%;
        margin: 0;
    }

    .dv-about-us-sect-3-right-side > img {
        margin-bottom: 2rem;
        width: 100%;
    }

    .dv-about-us-sect-2-left-side > img {
        margin-top: 2rem;
        width: 100%;
    }

    .dv-about-us-sect-2, .dv-about-us-sect-3 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

/*Dashboard Page*/
.dv-dashboard-body {
    display: inline-flex;
    width: 100%;
}

.dv-dashboard-nav {
    background-color: #1D2530;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
}

.dv-dashboard-nav-list {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.dv-dashboard-nav-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232C3D;
    border: none;
    color: white;
    border-radius: 1rem;
}

.dv-dashboard-nav-btn.active {
    background-color: white;
    color: var(--indigo);
}

.dv-dashboard-nav-btn.active > svg  path {fill: var(--indigo);}
.dv-dashboard-nav-btn:hover {background-color: #3b4a66;}
.dv-dashboard-nav-btn:active {background-color: #4f6287;}
.dv-dashboard-nav-btn.active:hover {background-color: #d4d4d4;}
.dv-dashboard-nav-btn.active:active {background-color: #b8b8b8;}
.dv-dashboard-nav-btn > svg {margin-bottom: 1rem;}

@media (max-width: 863px) {
    .dv-sect-1-bottom-cards-holder {grid-template-columns: repeat(1, 1fr);}
    .dv-sect-2-td-d-inline-flex.w-100 {display: flex;flex-direction: column;}
    .dv-sect-2-td-d-inline-flex.w-100 > a {width: 100%;}
    .dv-sect-2-td-d-inline-flex.w-100 > a:first-of-type {margin: 0 0 1rem 0;}
    .dv-sect-2-td-d-inline-flex  {margin-top: 2rem;}
    .dv-sect-3-cards {grid-template-columns: repeat(2, 1fr);}
    .dv-sect-4-tutorial-btn {width: 50%;}
    .dv-sect-4-middle-side > img {width: 100%;}
    .dv-footer-bottom-side > p{margin-bottom: 1rem;}
    .dv-media-863-w-50 {width: 50%;}
    .dv-about-us-sect-1-inner {width: 100%;}

    .dv-footer-bottom-side {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .dv-sect-1-content {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 707px){
    .dv-contact-us-form > div > div {width: 100%;}
    .dv-contact-us-form > div{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 577px) {
    .dv-footer-top-side-left-side, .dv-footer-top-side-right-side {width: 100%;}
    .dv-footer-top-side-right-side > img,
    .dv-footer-top-side{margin-bottom: 1rem;}
    .dv-footer-list-holder {grid-template-columns: repeat(1, 1fr);gap: 2rem;}
    .dv-contact-us-section-1-cards-holder {grid-template-columns: repeat(1, 1fr);}
    .dv-contact-section-1-card:nth-of-type(2) {margin: 0 !important;}
    .dv-main-inner-holder {width: 100%;}
    .dv-body-log-in {padding: 0;}
    .dv-log-in-mid {width: 100%;}

    .dv-log-in-form {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dv-footer-top-side {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
}

@media (max-width: 480px) {
    .dv-sect-2 {display: none;}
    .dv-sect-3-cards {grid-template-columns: repeat(1, 1fr);}
    .dv-sect-4-media-link {grid-template-columns: repeat(2, 1fr)}
}
